.chat
  .chat__group
    .chat__left
      sekine
      .chat__end
        yo
    =link_to "#", class: "chat__right" do
      Edit
  .chat-main
    .chat-main__group
      .chat-main__group--name
        sekine
      .chat-main__group--name--time
        2020.1/19
    .chat-main__message--info
      1回目の投稿
    .chat-main__groups
      .chat-main__groups--names
        sekine
      .chat-main__groups--names--times
        2020.1/19
    .chat-main__message--infos
      2回目の投稿         
  .chat-main__form
    .chat-main__form--block
      .chat-main__form--block--list
        
        %input{type:"text",class:"input-box__text",placeholder:"type a message"} 
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      
      %input{type:"submit",class:"submit-btn"}
     