.side-bar
  .side-bar_user-name
    .top-item
      
      %p.top-item__name
        sekine
      %ul.top-items__icons
        .top-items__icons-group
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')  
        
        
  .side-items__name
    .side-items__name-users
      .side-items__name-select
        グループ名
      .side-items__comment
        まだメッセージがありません