.side
  .side__user
    .top-item
      
      .top-item__name
        sekine
      .top-item__name--icons
        
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')  
        
        
  .side-items
    .side-items__name
      .side-items__name--select
        グループ名
      .side-items__name--select--comment
        まだメッセージはありません